@import "tailwindcss";
@import "./assets/fonts/pagebg.css";

/* my personal font */
@font-face {
  font-family: "kidfont";
  src: url("./assets/fonts/kidfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* base html & body config */
html {
  font-size: 26px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    "kidfont",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
